@import "common/foundation/mixins";

$max-width: 600px;

.display-search-banner {
  #main-outlet {
    padding-top: 0;
  }
}

.search-banner {
  background-image: var(--custom-bg);

  @if $tile-background_image == "true" {
    background-size: auto;
  } @else {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// hide search icon from default search menu
.search-menu.glimmer-search-menu .search-icon {
  display: none;
}

.custom-search-banner-wrap {
  box-sizing: border-box;
  position: relative;
  padding: 2.5em 0 3em;
  @include breakpoint(tablet) {
    padding: 1em 8px 1.25em;
    margin-top: 0.5em;
  }

  > div {
    margin: 0 auto;
    max-width: $max-width;
  }

  .search-menu {
    display: flex;

    .search-menu-container {
      width: 100%;
      border-radius: 50px;
    }
  }

  .menu-panel-results .menu-panel {
    position: unset;
    padding: 0;
  }

  .d-icon-search {
    margin: 0;
  }
  .browser-search-tip {
    display: none;
  }
  .search-input input#search-term[type="text"] {
    margin: 0;
    width: 100%;
  }

  .search-input {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    border: solid 1px #6161FF;
    .searching {
      // spinner
      top: 0.4em;
      right: 2.25em;
    }
  }

  h1 {
    font-size: 90px;
    line-height: $line-height-medium;
    @include breakpoint(tablet) {
      font-size: var(--font-up-4);
    }
  }

  h1,
  p {
    text-align: center;
    color: #6161FF;
  }

  p {
    margin-top: 0px;
    margin-bottom: 26px;
  }

  .btn.search-icon:not(.has-search-button-text) {
    z-index: 2;
    order: 2;
    background: transparent;
    .d-icon {
      margin: 0;
      color: #6161FF;
      padding: 0.7em;
    }
    background: transparent;
    line-height: 1;
    color: var(--primary-medium);
    height: 100%;
    padding-right: 0.25em;
    .discourse-no-touch & {
      &:hover {
        background: transparent;
        color: var(--primary);
        .d-icon {
          color: #6161FF;
        }
      }
    }
  }
  .btn.search-icon.has-search-button-text {
    order: 2;
    margin-left: 0.5em;
    column-gap: 0.5em;
    background-color: var(--tertiary);
    color: var(--secondary);
    flex: none;
    &:hover {
      background-color: var(--tertiary-hover);
    }
    .d-icon {
      color: var(--secondary);
    }
  }

  // hide the search icon when a search context is selected
  // eg when searching in a topic
  .search-input .search-context + .search-icon:not(.has-search-button-text),
  .search-input .search-context ~ .search-icon:not(.has-search-button-text) {
    display: none;
  }

  .results {
    box-sizing: border-box;
    background: var(--secondary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 56px;
    right: 0;
    padding: 2px;
    width: calc(100% - 50px);
    @include breakpoint(mobile-extra-large) {
      width: calc(100% - 50px);
    }
    ul,
    ol {
      list-style-type: none;
      margin: 0;
    }
    .item {
      .discourse-tags {
        display: none;
      }
    }
    .search-link .topic-title {
      color: #323338;
      .search-highlight {
        color: #5559df;
        font-weight: normal;
      }
    }

  }
  .search-menu .search-result-topic .search-link {
    padding: 18px 0px 18px 12px;
  }
  .search-menu .search-link:focus, .search-menu .search-link:hover {
    background-color: #f6f7fb;
    .d-icon-search {
      display: none;
    }
  }

  .searching a.show-advanced-search {
    display: none;
  }

  .search-link .d-icon {
    color: #6161FF;
  }

  span.keyword {
    color: var(--primary);
  }
}

// these are add-on styles controlled by settings
@import "special-styles";

/* Fix alignment of X in search field */

.search-menu .searching a.clear-search {
  margin-right: -10px;
}

/* Fix weird color when focus */

.search-menu .search-input:focus-within {
  border-color: #6161FF;
  outline: 1px solid #6161FF;
  outline-offset: 0;
}

/* Fix padding, and placeholder color */

.search-menu {
  input[type="text"] {
      color: #000;
      padding: 1em 1em 1em 3em;
  }
  input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #6161FF;;
      opacity: 1; /* Firefox */
  }

  input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #6161FF;;
  }

  input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
      color: #6161FF;;
  }
}

.custom-search-banner-wrap > p {
  font-size: 20px;
}

